# SQL中級

In [ ]:
# このセルはそのまま実行して、tdquiz コマンドをロードしてください。
# tdquiz コマンドはクエリを実行してその結果を返します。
%load_ext tdquiz

# tdquiz コマンドをテスト
%tdquiz SELECT USER, SESSION, CURRENT_TIMESTAMP

<h3>日付の要素</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">sys_calendar</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">current_timestamp</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">extract</span>
<br>
現在時刻 (日本時間) について、その日付、曜日、年、月、日、時 を表示してください。
ただし曜日は、漢字で "月曜日", "火曜日", ... のように表記してください。
<details><summary>Hint</summary><ul>
<li><a href="https://www.docs.teradata.com/r/Teradata-VantageTM-SQL%E3%81%AE%E6%97%A5%E4%BB%98/%E6%99%82%E5%88%BB%E9%96%A2%E6%95%B0%E3%81%A8%E5%BC%8F-17.20/%E6%97%A5%E6%99%82%E3%81%8A%E3%82%88%E3%81%B2%E9%96%93%E9%9A%94%E3%81%AE%E9%96%A2%E6%95%B0%E3%81%A8%E5%BC%8F/EXTRACT" rel="noopener noreferrer" target="_blank">EXTRACT</a>
</ul></details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">with dow as (
  /*現在の日付と曜日を取得*/
  select 
    calendar_date
    ,case day_of_week
    when 1 then '日曜日'
    when 2 then '月曜日'
    when 3 then '火曜日'
    when 4 then '水曜日'
    when 5 then '木曜日'
    when 6 then '金曜日'
    when 7 then '土曜日'
    else null end as "曜日"
    ,current_timestamp AT TIME ZONE 'GMT+9' as timestamp_jst
  from sys_calendar.calendar
  where calendar_date = current_date
)
select
  /*現在の日付*/
  TRUNC(timestamp_jst, 'DD') AS dt
  /*現在の曜日*/
  ,a1."曜日"
  /*タイムスタンプを年・月・日・時に分解*/
  ,extract(year from timestamp_jst) as "year"
  ,extract(month from timestamp_jst) as "month"
  ,extract(day from timestamp_jst) as "day"
  ,extract(hour from timestamp_jst) as "hour"
from dow a1;</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>年齢の計算</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">date</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">cast</span>
<br>
<em>Terashirt.customer</em> テーブルには、Terashirtの会員の誕生日と会員登録日のデータが含まれています。
各会員ごとに会員登録時の年齢と現在の年齢を計算してください。
なお、誕生日が不明の場合は、年齢は欠損 (null) としてください。<details><summary>Hint</summary>日付型を整数に変換すると？</details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  customer_id
  ,floor((cast(register_date as integer) + 19000000) - (cast(birthday as integer) + 19000000)) / 10000 as "会員登録時年齢"
  ,floor((cast(current_date as integer) + 19000000) - (cast(birthday as integer) + 19000000)) / 10000 as "現在年齢"
FROM
  TeraShirt.customer
ORDER BY 1;</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>従業員の給与ランキングの取得</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">window-function</span>
<br>
TeraShirt社員のなかで給与金額の最も大きい者と小さい者を探し、順位、名字、名前、給与金額を表示してください。
なお、同一順位がいる場合は両方を出力してください。
<details><summary>Hint</summary><ul>
<li><a href="https://docs.teradata.com/r/Teradata-VantageTM-SQL%E9%96%A2%E6%95%B0-%E5%BC%8F-%E3%81%8A%E3%82%88%E3%81%B2%E8%BF%B0%E9%83%A8-17.20/%E9%A0%86%E5%BA%8F%E4%BB%98%E3%81%8D%E5%88%86%E6%9E%90%E9%96%A2%E6%95%B0/%E3%82%A6%E3%82%A3%E3%83%B3%E3%83%88%E3%82%A6%E9%9B%86%E7%B4%84%E9%96%A2%E6%95%B0/ROW_NUMBER" rel="noopener noreferrer" target="_blank">ROW_NUMBER</a>
<li><a href="https://docs.teradata.com/r/Teradata-VantageTM-SQL%E9%96%A2%E6%95%B0-%E5%BC%8F-%E3%81%8A%E3%82%88%E3%81%B2%E8%BF%B0%E9%83%A8-17.20/%E9%A0%86%E5%BA%8F%E4%BB%98%E3%81%8D%E5%88%86%E6%9E%90%E9%96%A2%E6%95%B0/%E3%82%A6%E3%82%A3%E3%83%B3%E3%83%88%E3%82%A6%E9%9B%86%E7%B4%84%E9%96%A2%E6%95%B0/FIRST_VALUE/LAST_VALUE" rel="noopener noreferrer" target="_blank">FIRST_VALUE/LAST_VALUE</a>
</ul></details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  rank() OVER (ORDER BY salary DESC) AS ranking,
  last_name,
  first_name,
  salary
FROM
  TeraShirt.employee
QUALIFY
  rank() OVER (ORDER BY salary DESC) = 1
  OR rank() OVER (ORDER BY salary) = 1</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>最初のお客様</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">window-function</span>
<br>
TeraShirt社の各店舗について、１番最初に商品を購入した顧客を探して、店舗名、購入日時、顧客名（姓名を半角スペースでつなげたもの）を表示してくださいとしてください。
便宜上、顧客名が不明の売上レコードは除いて考えてください。
また、同じ店舗で全く同じ日時に複数の顧客による購入があった場合、そのすべてを表示してください。
<details><summary>Hint</summary><ul>
<li><a href="https://docs.teradata.com/r/Teradata-VantageTM-SQL%E9%96%A2%E6%95%B0-%E5%BC%8F-%E3%81%8A%E3%82%88%E3%81%B2%E8%BF%B0%E9%83%A8-17.20/%E9%A0%86%E5%BA%8F%E4%BB%98%E3%81%8D%E5%88%86%E6%9E%90%E9%96%A2%E6%95%B0/%E3%82%A6%E3%82%A3%E3%83%B3%E3%83%88%E3%82%A6%E9%9B%86%E7%B4%84%E9%96%A2%E6%95%B0/ROW_NUMBER" rel="noopener noreferrer" target="_blank">ROW_NUMBER</a>
<li><a href="https://docs.teradata.com/r/Teradata-VantageTM-SQL%E9%96%A2%E6%95%B0-%E5%BC%8F-%E3%81%8A%E3%82%88%E3%81%B2%E8%BF%B0%E9%83%A8-17.20/%E9%A0%86%E5%BA%8F%E4%BB%98%E3%81%8D%E5%88%86%E6%9E%90%E9%96%A2%E6%95%B0/%E3%82%A6%E3%82%A3%E3%83%B3%E3%83%88%E3%82%A6%E9%9B%86%E7%B4%84%E9%96%A2%E6%95%B0/FIRST_VALUE/LAST_VALUE" rel="noopener noreferrer" target="_blank">FIRST_VALUE/LAST_VALUE</a>
<li><a href="https://docs.teradata.com/r/Teradata-VantageTM-SQL%E3%83%86%E3%83%BC%E3%82%BF%E6%93%8D%E4%BD%9C%E8%A8%80%E8%AA%9E-17.20/Select%E6%96%87/QUALIFY%E5%8F%A5" rel="noopener noreferrer" target="_blank">QUALIFY句</a>
</ul></details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT DISTINCT
  str.name,
  s.purchase_timestamp,
  c.last_name || '  '|| c.first_name AS customer_name
FROM
  TeraShirt.store_sales AS s
  INNER JOIN TeraShirt.store AS str
    ON s.store_id = str.store_id
  INNER JOIN TeraShirt.customer AS c
    ON s.customer_id = c.customer_id
QUALIFY
  purchase_timestamp = MIN(purchase_timestamp) OVER (PARTITION BY str.name)</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>平均給与との差額計算</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">window-function</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">aggregation</span>
<br>
<em>Terashirt.employee</em> テーブルには、Terashirtの従業員の給与データが含まれています。
全体の給与平均と役職ごとの給与平均を算出し、各従業員ごとに全体の給与平均との差額および役職ごとの給与平均との差額を算出してください。
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">select
  last_name || ' ' || first_name AS name
  ,"role"
  ,salary
  ,avg(salary) over() as "全体給与平均"
  ,avg(salary) over(partition by "role") as "roleごと給与平均"
  ,salary - "全体給与平均" as "全体給与平均との差額"
  ,salary - "roleごと給与平均" as "roleごと給与平均との差額"
from TeraShirt.employee
order by 6,7;</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>店舗売上の平滑化</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">window-function</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">moving average</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">sys_calendar</span>
<br>
TeraShirt社では店舗売上を日別で集計していますが、日々の売上金額にはバラつきや周期変動（休日の売上が多いなど）があることが考えられます。
そこで、売上の実績値に加えて、その移動平均値を報告することにしました。
<br />
店舗別、日別で売上金額の合計を計算し、その前後３日の平均売上金額（つまり、７日間ウィンドウの移動平均値）を計算してください。
店舗ID、店舗名、日付、売上金額、移動平均値を表示してください。
<br />
簡単化のため、出力するのは 2022年11月の30日間に限定し、売上のない日も含めるようにしてください。
<br />
また、結果は店舗IDと日付で降順に並べてください。

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">WITH rev AS (
  SELECT
    store_id,
    purchase_date,
    SUM(sales_value) AS revenue
  FROM
    TeraShirt.store_sales
  GROUP BY 1,2
)
,alldays AS (
  SELECT
    s.store_id, c.calendar_date
  FROM
    sys_calendar.calendar AS c,
    (SELECT DISTINCT store_id FROM TeraShirt.store_sales) AS s
  WHERE
    c.calendar_date BETWEEN DATE '2022-10-29' AND DATE '2022-12-03'
)
,ma AS (
  SELECT 
    c.store_id,
    c.calendar_date,
    COALESCE(a.revenue, 0) AS revenue,
    AVG(COALESCE(a.revenue, 0)) OVER (
      PARTITION BY c.store_id ORDER BY c.calendar_date
      ROWS BETWEEN 3 PRECEDING AND 3 FOLLOWING) AS revenue_moving_average
  FROM
    alldays AS c
    LEFT JOIN rev AS a
      ON c.store_id = a.store_id AND c.calendar_date = a.purchase_date
)
SELECT
  ma.store_id,
  s.name,
  ma.calendar_date,
  ma.revenue,
  ma.revenue_moving_average
FROM
  ma INNER JOIN TeraShirt.store AS s ON ma.store_id = s.store_id
ORDER BY 1,3</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>久しぶりのお客様</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">window-function</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">lag</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">interval</span>
<br>
TeraShirt社の売上履歴において、同じ顧客の前回購入からの時間差が最も大きいものを見つけ、その顧客氏名 (姓名をスペースでつなげたもの), 購入日時、前回購入日時、時間差を表示してください。
時間差は日単位の実数値として、小数第２位まで表示してください。
なお、顧客名が不明のレコードは除いて考えてください。
<details><summary>Hint</summary><ul>
<li><a href="https://docs.teradata.com/r/Teradata-VantageTM-SQL%E9%96%A2%E6%95%B0-%E5%BC%8F-%E3%81%8A%E3%82%88%E3%81%B2%E8%BF%B0%E9%83%A8-17.20/%E9%A0%86%E5%BA%8F%E4%BB%98%E3%81%8D%E5%88%86%E6%9E%90%E9%96%A2%E6%95%B0/%E3%82%A6%E3%82%A3%E3%83%B3%E3%83%88%E3%82%A6%E9%9B%86%E7%B4%84%E9%96%A2%E6%95%B0/LAG/LEAD" rel="noopener noreferrer" target="_blank">LAG/LEAD</a>
<li><a href="https://docs.teradata.com/r/Teradata-VantageTM-SQL-Date-and-Time-Functions-and-Expressions/March-2019/DateTime-and-Interval-Functions-and-Expressions/Arithmetic-Operators-and-ANSI-DateTime-and-Interval-Data-Types/Calculating-the-Difference-Between-Two-DateTime-Values" rel="noopener noreferrer" target="_blank>Calculating the Difference Between Two DateTime Values</a>
</ul></details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">WITH tmp AS (
  SELECT
    c.last_name || ' ' || c.first_name AS customer_name,
    s.purchase_timestamp,
    lag(s.purchase_timestamp) OVER (PARTITION BY s.customer_id ORDER BY purchase_timestamp) AS prev_purchase_timestamp,
    (s.purchase_timestamp - prev_purchase_timestamp) DAY(4) TO HOUR AS time_diff
  FROM
    TeraShirt.store_sales AS s
    INNER JOIN TeraShirt.customer AS c
      ON s.customer_id = c.customer_id
  QUALIFY prev_purchase_timestamp IS NOT NULL
)
SELECT
  customer_name, purchase_timestamp, prev_purchase_timestamp,
  EXTRACT(DAY FROM time_diff) + 1.00*EXTRACT(HOUR FROM time_diff)/24 AS day_diff
FROM
  tmp
QUALIFY time_diff = MAX(time_diff) OVER ()</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>ヒストグラム</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">width_bucket</span>
<br>
<em>Terashirt.store_sales</em> テーブルには、顧客ごとの商品購入履歴データが含まれています。
各顧客ごとに1回あたりの購買における合計金額を算出した上で、購買金額のヒストグラムを階級数を10として作成しようとしています。
このとき、各階級に含まれる度数(データ数)と各階級に含まれる給与額の最小値・最大値を求めてください。
なお、顧客IDがnullのデータは集計対象から除外すること。<details><summary>Hint</summary><ul>
<li><a href="https://docs.teradata.com/r/Teradata-VantageTM-SQL%E9%96%A2%E6%95%B0-%E5%BC%8F-%E3%81%8A%E3%82%88%E3%81%B2%E8%BF%B0%E9%83%A8-17.20/%E7%AE%97%E8%A1%93%E6%BC%94%E7%AE%97%E5%AD%90/%E9%96%A2%E6%95%B0-%E4%B8%89%E8%A7%92%E9%96%A2%E6%95%B0-%E5%8F%8C%E6%9B%B2%E7%B7%9A%E9%96%A2%E6%95%B0/WIDTH-BUCKET" rel="noopener noreferrer" target="_blank">WIDTH_BUCKET</a>
</ul></details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">with src0 as (
  select
  customer_id
  ,purchase_date
  ,purchase_timestamp
  ,sum(sales_value) as total_sales_value
  from terashirt.store_sales 
  where customer_id is not null
  group by 1,2,3
)
,src1 as (
  select
  max(total_sales_value)+1 as max_sales_value
  ,min(total_sales_value) as min_sales_value
  ,max_sales_value - min_sales_value as range_sales_value
  ,10 as bucket_num
  from src0
)
,src2 as (
  select
  total_sales_value
  ,width_bucket(total_sales_value, min_sales_value, max_sales_value, bucket_num) as bucket
  ,count(total_sales_value) as cntnum
  from src0
  ,src1
  group by 1  
)
select
bucket
,min(total_sales_value) as lower_sales_value
,max(total_sales_value) as upper_sales_value
,sum(cntnum) as "度数"
from  src2
group by 1
order by 1;</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>日付の計算</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">date</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">trunc</span>
<br>
当月の初日/最終日、前月の初日/最終日、1年前の当月の初日/最終日を取得してください。<details><summary>Hint</summary><ul>
<li><a href="https://www.docs.teradata.com/r/Teradata-VantageTM-SQL%E3%81%AE%E6%97%A5%E4%BB%98/%E6%99%82%E5%88%BB%E9%96%A2%E6%95%B0%E3%81%A8%E5%BC%8F-17.20/%E6%97%A5%E6%99%82%E3%81%8A%E3%82%88%E3%81%B2%E9%96%93%E9%9A%94%E3%81%AE%E9%96%A2%E6%95%B0%E3%81%A8%E5%BC%8F/TRUNC-%E6%97%A5%E4%BB%98" rel="noopener noreferrer" target="_blank">TRUNC(日付)</a>
</ul></details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">select
trunc(current_date, 'month') as "当月初日"
,"当月初日" + interval '1' month - interval '1' day as "当月最終日"
,"当月初日" - interval '1' month as "前月初日" 
,"当月初日" - interval '1' day as "前月最終日"
,"当月初日" - interval '12' month as "前年当月初日"
,"当月初日" - interval '11' month - interval '1' day as "前年当月最終日" ;</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>最近の休日</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">date</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">filtering</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">performance</span>
<br>
<em>japan.japan_holidays</em> テーブルには、1955年以降の日本の祝日の情報が格納されています。
このテーブルを用いて、あなたは今日を含む直近50日間の休日一覧を出力しようとしています。そのため、あなたは次のクエリを考えました。
<pre class="sql-code">
SELECT
  calendar_date, holiday_name
FROM
  japan.japan_holidays
WHERE
  CAST(CURRENT_TIMESTAMP AS DATE) - calendar_date BETWEEN 0 AND 49
</pre>
このクエリは正しい結果を返すものの、効率性の面で最善ではありません。
これと同じ結果をもたらすより効率的なクエリを考えてください。
<details><summary>Hint</summary><code>SHOW TABLE</code> を使って、テーブルのDDLを確認してみてください。
効率化のためのヒントが得られるかもしれません。</details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  calendar_date, holiday_name
FROM
  japan.japan_holidays
WHERE
  calendar_date BETWEEN
    CAST(CURRENT_TIMESTAMP AS DATE) - INTERVAL '49' DAY AND
    CAST(CURRENT_TIMESTAMP AS DATE)</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>登録顧客数の推移</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">window-function</span>
<br>
TeraShirt社の顧客リストを用いて、登録された顧客数の推移を出力してください。
<br />
結果の列は、日付とその時点での顧客数（その日に登録した人を含む）とします。
<br />
また、登録顧客数に変化があった日のみを表示し、日付で並べ替えてください。

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">WITH tmp AS (
  SELECT register_date, COUNT(*) AS n_inc
  FROM TeraShirt.customer
  GROUP BY 1
)
SELECT
  register_date AS "date",
  SUM(n_inc) OVER (
    ORDER BY register_date
    ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
  ) AS num_registered_customers
FROM
  tmp</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>累積売上金額の推移</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">window-function</span>
<br>
TeraShirt社の店舗売上を用いて、各月終了時点のその年の累積売上金額を計算してください。
<br />
結果には、年、日付（月末の日付）、累積売上金額を表示して、日付順で並べ替えてください。

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">WITH tmp AS (
  SELECT
    EXTRACT(YEAR FROM purchase_date) AS "year",
    TRUNC(purchase_date, 'MM') + 
      INTERVAL '1' MONTH - INTERVAL '1' DAY AS month_end,
    SUM(sales_value) AS total_sales
  FROM
    TeraShirt.store_sales
  GROUP BY 1,2
)
SELECT
  "year", month_end,
  SUM(total_sales) OVER (
    PARTITION BY "year"
    ORDER BY month_end
    ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
  ) AS cum_sales
FROM
  tmp
ORDER BY 2</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */