In [1]:
import pandas as pd
from urllib.request import urlopen
u = urlopen("https://www8.cao.go.jp/chosei/shukujitsu/syukujitsu.csv")
x = pd.read_csv(u, encoding="cp932")
x.columns = ["calendar_date", "holiday_name"]
x.calendar_date = pd.to_datetime(x.calendar_date, format="%Y/%m/%d").dt.strftime("%Y-%m-%d")
x

     calendar_date holiday_name
0       1955-01-01           元日
1       1955-01-15         成人の日
2       1955-03-21         春分の日
3       1955-04-29        天皇誕生日
4       1955-05-03        憲法記念日
...            ...          ...
1027    2025-09-23         秋分の日
1028    2025-10-13       スポーツの日
1029    2025-11-03         文化の日
1030    2025-11-23       勤労感謝の日
1031    2025-11-24           休日

[1032 rows x 2 columns]

In [2]:
x[x.holiday_name.str.contains("みどり")]

     calendar_date holiday_name
408     1989-04-29        みどりの日
423     1990-04-29        みどりの日
441     1991-04-29        みどりの日
458     1992-04-29        みどりの日
472     1993-04-29        みどりの日
488     1994-04-29        みどりの日
504     1995-04-29        みどりの日
519     1996-04-29        みどりの日
537     1997-04-29        みどりの日
553     1998-04-29        みどりの日
569     1999-04-29        みどりの日
585     2000-04-29        みどりの日
601     2001-04-29        みどりの日
619     2002-04-29        みどりの日
637     2003-04-29        みどりの日
652     2004-04-29        みどりの日
668     2005-04-29        みどりの日
684     2006-04-29        みどりの日
703     2007-05-04        みどりの日
720     2008-05-04        みどりの日
737     2009-05-04        みどりの日
755     2010-05-04        みどりの日
770     2011-05-04        みどりの日
787     2012-05-04        みどりの日
803     2013-05-04        みどりの日
820     2014-05-04        みどりの日
837     2015-05-04        みどりの日
855     2016-05-04        みどりの日
872     2017-05-04        みどりの日
890     2018-05-04        みどりの日
911     2019-05-04        みどりの日
932     2020-05-04        みどりの日
949     2021-05-04        みどりの日
966     2022-05-04        みどりの日
983     2023-05-04        みどりの日
1000    2024-05-04        みどりの日
1021    2025-05-04        みどりの日

In [3]:
import os

savepath = "../data/japan/holidays/data.csv"
os.makedirs(os.path.dirname(savepath), exist_ok=True)
x.to_csv(savepath, index=False, encoding="utf8")

In [4]:
x.holiday_name.str.len().max()

12